<h1 class="menu-bar">
    <span class="icon"></span>
    <span class="head">
        <span>CT Library Management</span>
        <span>Keep Learning!</span>
    </span>
    <ul class="menu-list">
        <a routerLink="" class="home-menu"><li>Home</li></a>
        <a routerLink="" class="add-menu"><li>Add Book</li></a>
        <a routerLink="" class="issue-menu"><li>Issue</li></a>
        <a routerLink="" class="renew-menu"><li>Renew</li></a>
        <a routerLink=""><li>Settings</li></a>
        <span class="log-menu logout"><li>Logout</li></span>
    </ul>
    <span class=" icon menu-icon"></span>
</h1>