:host {
    margin-bottom: auto;
}
.main {
    width: 50%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}
.borrow-title {
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.borrow-title span:nth-child(1) {
    display: flex;
    align-items: center;
}
.borrow-title span:nth-child(1)::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em;
    margin-right: 0.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/borrow-book.png");
    display: block;
}
.borrow-title span:nth-child(2) {
    background-color: whitesmoke;
    padding: 0.25em 0.75em;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.box {
    width: 100%;
    padding: 0.75em;
    margin: 0.75em 0em;
    border: 1px solid gainsboro;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    cursor: default;
}
.box:hover {
    background-color: rgb(252, 252, 252);
}
.book-date {
    margin-top: 0.5em;
    padding: 1em 0em;
    color: grey;
    font-size: 0.85em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.book-date::before {
    content: "";
    margin-right: 0.5em;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: gray;
    display: block;
}
.book-details {
    width: 75%;
}
.book-details h4 {
    padding-bottom: 0.15em;
}
.b-author {
    display: block;
    font-size: 0.8em;
    color: #196fb9;
    font-weight: bold;
    margin: 0.35em 0em;
}
.b-publicate {
    font-size: 0.7em;
    color: #0f3e68;
}
.renew-date {
    display: inline-block;
    font-size: 0.85em;
    margin-top: 0.4em;
    padding: 0.35em 0.65em;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    background-color: #196fb9;
}
.book-time {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.book-time .icon {
    width: 1em;
    height: 1em;
    background-size: 0.95em;
}
.rem-days {
    background-color: rgba(25, 111, 185, 0.05);
    padding: 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    display: inline-block;
    margin: 0.2em 0em;
}
.late {
    background-color: rgba(255, 0, 0, 0.1);
}
.b-date {
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
}
.b-time {
    font-size: 0.75em;
    padding: 0.5em 0em;
}
.no-result-box {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.no-result-box h4 {
    margin: 1em 0em;
    font-size: 1.1em;
}
.no-result-box .button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 1em 0em;
    padding: 0.75em 1em;
    border-radius: 3px;
    font-size: 0.9em;
    transition: 0.2s;
    background-color: #196fb9;
}
.no-result-box .button:hover {
    background-color: #0f3e68;
}
.no-result-box p {
    text-align: justify;
    width: 60%;
    font-size: 0.9em;
    line-height: 1.75em;
    padding: 1em;
    background-color: rgba(25, 111, 185, 0.025);
    border-radius: 3px;
    border: 1px solid rgb(25, 111, 185);
}
.borrow-icon {
    width: 5em;
    height: 5em;
    background-size: 4.75em;
    background-image: url("../../../assets/img/borrow-book.png");
    display: block;
    margin-top: 1.5em;
}
@media only screen and (max-width: 1440px) {
    .main {
        width: 60%;
    }
}
@media only screen and (max-width: 1200px) {
    .main {
        width: 70%;
    }
}
@media only screen and (max-width: 1100px) {
    .main {
        width: 75%;
    }
}
@media only screen and (max-width: 1000px) {
    .main {
        width: 80%;
    }
}
@media only screen and (max-width: 900px) {
    .main {
        width: 85%;
        font-size: 0.95em;
    }
}
@media only screen and (max-width: 700px) {
    .main {
        width: 90%;
    }
    .no-result-box p {
        width: 85%;
    }
}
@media only screen and (max-width: 500px) {
    .main {
        width: 95%;
    }
    .borrow-title span:nth-child(2) {
        font-size: 0.8em;
    }
    .renew-date {
        padding: 0.75em 1em;
        margin-top: 1em;
    }
}
@media only screen and (max-width: 340px) {
    .book-details {
        width: 60%;
    }
}
