*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Whitney', sans-serif;
}
::-webkit-scrollbar{
    width: 0.6em;
    height: 0.6em;
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb{
    background-color: #4da4df;
}
.icon{
    width: 2em;
    height: 2em;
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("assets/img/lib-logo-design.png");
    display: block;
}
.check-box, .radio-box{
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
input[type=checkbox], input[type=radio]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.check-text, .radio-text{
    margin-left: 0.5em;
    user-select: none;
    cursor: pointer;
}
.check-mark, .radio{
    width: 1em;
    height: 1em;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(163, 162, 162);
    position: relative;
    border-radius: 2px;
    transition: 0.2s;
}
.check-mark::after{
    content: '';
    position: absolute;
    bottom: 0.2em;
    width: 0.2em;
    height: 0.5em;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: white;
    display: none;
    transform: rotate(45deg);
}
.radio{
    border-radius: 50%;
}
.radio::after{
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: white;
    border-radius: 50%;
    display: none;
}
.check-box:hover > .check-mark,
.radio-box:hover > .radio{
    background-color: gainsboro;
}
input[type=checkbox]:checked ~ .check-mark,
input[type=radio]:checked ~ .radio{
    background-color: rgb(25,111,185);
}
input[type=checkbox]:checked ~ .check-mark::after,
input[type=radio]:checked ~ .radio::after{
    display: block;
}