:host{
    flex: 1;
    display: flex;
    flex-direction: column;
}
:host h3{
    display: flex;
    align-items: center;
}
.count{
    background-size: 1em;
    background-image: url("../../assets/img/lib-logo.png");
}
.book-count{
    font-size: 0.85em;
    padding: 0.25em 1em;
    background-color: whitesmoke;
    margin-left: 1.5em;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.toggle-avail{
    width: max-content;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 0px 1px 0px gray;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0.25em;
}
.toggle-avail .check-box{
    padding: 0.5em;
    cursor: pointer;
}
.toggle-avail .check-mark::after{
    top: 0em !important;
}
.toggle-avail .check-text{
    font-size: 0.85em;
    letter-spacing: 1px;
    margin-right: 0.75em;
}
.result-wrapper{
    flex: 1;
    margin-top: 1em;
    overflow-y: auto;
    position: relative;
}
.result-wrapper::-webkit-scrollbar{
    width: 0.5em;
    background-color: #ddd;
}
.result-wrapper::-webkit-scrollbar-thumb{
    background-color: #196fb9;
}
.result{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-collapse: collapse;
    table-layout: fixed;
    border-bottom: 1px solid rgba(25,111,185,0.5);
}
.result thead tr th:last-of-type{
    text-align: center;
}
.result tr{
    transition: 0.2s;
    cursor: default;
    width: 100%;
}
.result tr:nth-child(even){
    background-color: rgba(25,111,185,0.1);
}
.result tr:hover{
    color: #0f3e68;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.result td, .result th{
    padding: 1em;
    border-bottom: 1px solid #ddd;
}
.result th{
    background-color: #0f3e68;
    color: white;
    text-align: left;   
}
.b-title{
    width: 35%;
}
.b-auth{
    width: 20%;
}
.result th.b-avail-head{
    text-align: center;
}
.b-avail, .b-unavail{
    display: block;
    margin: auto;
    width: 0.85em;
    height: 0.85em;
    background-color: rgb(52, 194, 113);
    border-radius: 50%;
}
.b-unavail{
    background-color: rgb(226, 12, 12);
}
.stock{
    text-align: center !important;
}
.stock-avail, .stock-unavail{
    text-align: center;
    color: seagreen;
    font-weight: bold;
}
.stock-unavail{
    color: rgb(150,0,0);
}
.i-button{
    text-align: center !important;
}
.issue-button{
    padding: 0.5em 1em;
    font-size: 0.9em;
    background-color: seagreen;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
}
.issue-button:hover{
    background-color: rgb(9, 49, 9);
}
.issued{
    background-color: rgb(150,0,0);
}
.issued:hover{
    background-color: rgb(150,0,0);
}
.renew-wrap tr{
    &:hover{
        color: unset;
        box-shadow: unset;
    }
}
.r-id{
    width: 10%;
}
.r-title{
    font-weight: bold;
}
.r-pub, .r-author{
    display: block;
    font-size: 0.75em;
    color: #0f3e68;
}
.time{
    font-size: 0.9em;
    letter-spacing: 1px;
}
.expired{
    color: rgb(250,0,0);
    font-weight: 500;
}
.r-button{
    color: white;
    background-color: #196fb9;
    font-size: 0.9em;
    padding: 0.6em 1em;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    display: block;
    margin: auto;
}
.r-button:hover{
    background-color: #0f3e68;
}
.return{
    background-color: rgb(150,0,0);
}
.return:hover{
    background-color: rgb(200,0,0);
}
.renew-result-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
.renew-result-staff{
    color: #0f3e68;
    margin-left: 0.5em;
    margin-right: auto;
}
.renew-result-count{
    font-size: 0.75em;
    background-color: whitesmoke;
    padding: 0.25em 0.75em;
    border-radius: 2px;
    border: 1px solid grey;
    display: inline-block;
    margin-left: 1em;
}
.edit, .delete{
    width: 2em;
    height: 2em;
    background-size: 0.9em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/edit.png");
    cursor: pointer;
    transition: 0.2s;
    margin: auto;
}
.manage-auth{
    width: 15%;
}
.delete{
    background-image: url("../../assets/img/remove.png");
}
.edit:hover{
    background-color: rgba(25,111,184,0.25);
}
.delete:hover{
    background-color: rgba(250,0,0,0.25);
}