<div class="main">
    <section class="side-bar">
        <h2>
            <div class="top-content">
                <span class="top-count">Book Transactions</span>
                <hr />
                <span class="note">
                    You can <b>check</b> the overall transactions that has
                    occured so far. You can also filter the transactions using
                    the below filter.
                </span>
            </div>
            <span class="icon search"></span>
        </h2>
        <hr />
    </section>
    <div class="filter">
        <h3>
            <span>Search Filter</span>
            <span
                class="icon reset"
                title="Reset"
                (click)="resetFields()"
            ></span>
        </h3>
        <form-select
            *ngIf="staffs"
            [options]="staffs"
            [reset]="resetValue"
            (selectValue)="updateStaff($event)"
        >
        </form-select>
        <div class="input-wrap">
            <input
                type="date"
                [(ngModel)]="start_date"
                required
                autocomplete="off"
            />
            <span class="text">Start Date</span>
        </div>
        <div class="input-wrap">
            <input
                type="date"
                [(ngModel)]="end_date"
                required
                autocomplete="off"
            />
            <span class="text">End Date</span>
        </div>
        <div
            class="trans-filter"
            *ngFor="let filter of filters; index as i"
            (click)="updateFilter(i, filter.type)"
        >
            <span
                class="trans-round"
                [class.trans-round-checked]="filter.checked"
            ></span>
            <p>{{ filter.name }}</p>
            <span class="log-icon {{ filter.color }}"></span>
        </div>
        <button class="button" (click)="applyFilter()">Apply Filter</button>
    </div>
</div>
<div class="log-filter-wrap">
    <h3 class="main-title">
        <span class="icon"></span>
        <span>Transaction History</span>
        <input
            type="text"
            class="filter-field"
            spellcheck="false"
            autocomplete="off"
            placeholder="Search Transactions"
        />
    </h3>
    <div class="log-record">
        <div
            class="logs"
            [ngClass]="{
                'log-issue': log.type == 9,
                'log-renew': log.type == 10,
                'log-return': log.type == 11,
                'log-book': log.type == 3 || log.type == 4 || log.type == 5,
                'log-categ': log.type == 6 || log.type == 7 || log.type == 8
            }"
            *ngFor="
                let log of log_records
                    | paginate
                        : {
                              itemsPerPage: per_page,
                              currentPage: page,
                              totalItems: total_records
                          }
            "
        >
            <div class="l-info">
                <b>
                    <span>{{ log.content.message }}</span>
                    <span
                        class="b-count"
                        title="Book ID"
                        *ngIf="log.content.id"
                        >{{
                            log.content.categ +
                                ("" + log.content.id).padStart(4, "0")
                        }}</span
                    >
                </b>
                <p>
                    <span>{{ log.content.title }}</span>
                    <span class="author">{{ log.content.sub_title }}</span>
                </p>
            </div>
            <div class="l-time">
                <b>{{ log.logTime.date }}</b>
                <p>{{ log.logTime.time }}</p>
            </div>
        </div>
    </div>
    <pagination-controls
        class="page-control"
        previousLabel=""
        nextLabel=""
        autoHide="true"
        (pageChange)="onPageChange($event)"
    ></pagination-controls>
</div>
