.footer{
    margin-top:auto;
    text-align: center;
    background-color: rgb(25,111,185);
    padding: 1em 0.5em;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
}
.footer a{
    text-decoration: none;
    font-family: inherit;
    color: white;
}