.manage{
    background-color: rgb(244, 217, 252);
    flex-direction: column;
}
.manage-icon{
    background-size: 3em;
    background-image: url("../../assets/img/add-book.png");
}
.manage .top-content{
    padding-bottom: 0.25em;
}
.add-button{
    background-color: rgb(168, 39, 207);
    color: white;
    border: none;
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.6em 1.25em;
    border-radius: 2px;
    transition: 0.2s;
    cursor: pointer;
}
.add-button:hover{
    background-color: rgb(78, 14, 97);
}