@font-face {
    font-family: 'Whitney';
    font-weight: 500;
    src: url('whitneymedium.woff') format('woff');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 800;
    src: url('whitneybold.woff') format('woff');
}


@font-face {
    font-family: 'Whitney';
    font-weight: bold;
    src: url('whitneysemibold.woff') format('woff');
}


@font-face {
    font-family: 'Whitney';
    font-weight: normal;
    src: url('whitneybook.woff') format('woff');
}
